body {
     font-size: 20px;
     color: #000000;
     background-color: #f0f0f0;
     font-family: 'elegant_luxmager',Georgia,Times,serif;
     font-weight: 500;
     text-align: center;
     height:100%;
}
 ::-moz-selection {
    background: #c0392b;
}
 ::selection {
    background: #c0392b;
}
 a,a:visited {
    outline: 0;
     color: #fff;
}
 a:hover, a:focus {
    outline: 0;
     color:#c0392b;
     text-decoration: none;
    transition: color .3s ease-in-out;
     -webkit-transition: color .3s ease-in-out;
     -moz-transition: color .3s ease-in-out;
     -o-transition: color .3s ease-in-out;
}
 img{
    max-width: 100%;
     max-height: 100%;
}
 .green {
    color: #27AD60 !important;
}
 .dullgreen {
    color: #A8C8B2;
}
 .red {
    color: #c0392b !important;
}

.darkred{
    color: #890909 !important;
}

 .red::selection,
 .darkred::selection {
    background: #27AD60;
}
/*Navigation*/
 .navbar-nav{
    float: none;
}
 .anav{
     background-color: #fff;
     color: #eeeeee;
     padding: 0px 0px;
     border: none;
}
 .dropdown span{
     margin-left: 15px;
}
 .dropdown-toggle{
     margin-right: 60px;
     padding: 0px 15px !important;
}
 .prodrop{
     padding: 0px;
     list-style: none;
}
 .prodrop li{
     display: inline-block;
}

 .photoround{
     margin: 10px 0px;
     margin-right: 15px;
     vertical-align: middle;
     width: 40px;
     height: 40px;
     -webkit-border-radius: 99em;
     -moz-border-radius: 99em;
     border-radius: 99em;
     background-image: url('../images/NkdQLu3a.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
}

.dropdown-menu{
    border-radius: 0px;
    border:none;
    text-align: center;
    font-size: 18px;
    width: 221px;
    padding: 10px 0px;
}


/*Logo*/
 .logoname{
     text-align: left;
     text-indent: 100px;
     font-size: 42px;
}
 .logoname a:hover, .logoname a:focus{
     color: #27AD60;
}
/*Welcome*/
 .welcome{
     margin-top: 74px;
     background-color: #2c3e50;
     color: #eeeeee;
     padding-bottom: 70px;
}
 .welhead{
     font-size: 60px;
     margin: 40px 10px;
     margin-bottom: 50px;
}
 .weltext{
     text-align: left;
     text-indent: 70px;
     font-size: 30px;
     line-height: 40px;
     padding: 0px 50px;
}
 .welimg{
     -webkit-box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.37);
     -moz-box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.37);
     box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.37);
}
/*Signup*/
 .signup{
     margin: 50px 0px;
     margin-bottom: 100px;
     background-color: #eeeeee;
}
 .abtn{
     font-size: 28px;
     padding: 10px 130px;
     background-color: #27ae60;
     border: 0;
     border-radius: 0px;
     outline: 0;
     -webkit-box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.37);
     -moz-box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.37);
     box-shadow: 0px 0px 46px -1px rgba(0,0,0,0.37);
}
 .abtn:active, .abtn:hover, .abtn:focus {
     color: white;
     background-color: #a82d27;
     transition: all 0.3s;
}
/*footer*/
 footer{
     background-color: #2c3e50;
}
 .flist{
     font-size: 20px;
     list-style: none;
     margin: 0px;
     padding: 0px;
     bottom: 0;
}
 .flist li{
     display: inline-block;
     padding:10px 30px;
}
 .register{
     min-height: 600px;
     margin-top: 74px;
}
 .head{
     font-size: 50px;
     margin: 25px 0px;
     margin-bottom: 40px;
}
 .formlabel{
     font-size: 35px;
     text-align: right;
}
 .reg ul{
     list-style: none;
     display: inline-block;
     margin: 0px 0px;
     padding: 0px;
     width: 100%;
}
 .reg li{
     width: 100%;
     color: black;
     display: inline-block;
     border:none;
     list-style:none;
     background:#dfdfdf;
     margin: 10px 20px;
}
 .reg input[type="text"], .reg input[type="password"] {
     width: 100%;
     padding: 0.5em 2em 0.4em 2em;
     color: #858282;
     font-size: 17px;
     outline: none;
     background: none;
     border: none;
}
 .asub{
     margin: 70px 0px;
}



/*Dashboard*/

.dash{
    margin-top: 80px;
}

.redbox{
    height: 120px;
    padding: 10px 70px;
}

.bluebox{
    font-size: 36px;
    line-height: 100px;
    height:100px;
    background-color: #890909;
    color: #eeeeee;
    cursor: pointer;
}

.sitelist{
    margin: 60px 0px;
}

.sitebox{
    color: #000;
    cursor: pointer;
    margin-bottom: 30px;
     -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
     
}

.sitebox:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.sitename{
    font-size: 50px;
    text-align: left;
    margin: 20px 0px;
    padding-left: 30px;
}

.sitestat{
    
}

.arrow{
        font-size: 30px;
    padding: 40px 0px;
}

.sitevisit{
    font-size: 55px;
    text-align: left;
    line-height: 70px;
}

.sitedesc{
    font-size: 22px;
    text-align: left;
}