body{
   font-size: 16px;
    color: #000000;
    background-color: #eeeeee;
}

main, footer {
    padding-left: 260px;
}    

@media only screen and (max-width: 992px){
main, footer {
    padding-left: 0;
}
}

.brand-logo{
    left: 793px !important;
}

    

/*notification*/
.card-title{
    border-bottom: 1px solid rgba(160,160,160,0.2);
    color: #c0392b;
    font-size: 24px !important;
}

.card .card-action{
    padding: 5px;
}



.notfi{
    padding: 5px 10px;
    text-align: left;
    padding-bottom: 15px;
    font-size: 16px;
}

.card .card-content{
    padding: 10px 30px;
}

.card-action a{
    font-size: 15px;
    color:  #009688 !important;
}

.date{
    font-size: 20px;
    text-align: left;
}

.newstitle{
    text-align: left;
}

nav{
    background-color: #512DA8;
}

hr{
    border-top:1px solid #7f8c8d;
}

.btn{
    background-color: #009688;
}

#nav-mobile{
    background-color: #eeeeee;
}

.sideactive{
    color: #009688 !important;
    border-left: 4px solid #009688;
}

.sidebut{
    margin-left: 15px;
}

.profile{
    padding: 20px 0px;
    background-color: #bdc3c7;
    margin-bottom: 10px;
}

.info{
    color: #c0392b;
    font-size: 16px;
    font-weight: 700;
}

.photo{
    border-radius: 100px;
    height:60px;
    margin: 0px 100px;
}

.side-link{
    font-size: 16px;
}

.side-nav li{
    text-align: left;
    line-height: 55px;
    padding-left: 30px;
}


.side-nav li i{
    padding-right: 15px;
}


.side-nav.fixed a{
    padding: 0px;
}

.side-nav a{
    font-size: 16px;
    line-height: 55px;
    height: 55px;
}

/*Calender*/

.fc-toolbar .fc-center{
    color: #c0392b;
}

.fc-view{
    color: #e74c3c;
}

.fc-unthemed .fc-today{
     background-color: #bdc3c7; 
}

.fc-button-group button,
.fc-today-button{
    border: none;
    border-radius: 0px !important;
    color: #009688 !important;
}

.fc-event{
    text-align: center;
    padding: 3px 0px;
    border: none;
    border-radius: 0px;
    background-color: #009688 !important;
}